<h1>iMix</h1>
<ul>
  <% @drink_name.each do |drink| %>
  <li><%= drink_name.name %></li>
  <% end %>
</ul>
<ul>
  <% @user_name.each do |user| %>
  <li><%= user_name.name %></li>
  <% end %>
</ul>
<ul>
  <% @state.each do |state| %>
  <li><%= state.name %></li>
  <% end %>
</ul>
<ul>
  <% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name.all %></li>
  <% end %>
</ul>

<!-- Rating System Here -->
