h1{
font-size: 120px;
color: white;
text-shadow: 3px 3px black;
text-align: center;
padding-top: 80px;
padding-bottom: 50px;
font-family: 'Sacramento', cursive;
}

h2, h3{
font-size: 60px;
font-family: Shadows Into Light, cursive;
}


p{
font-size: 28px;
font-family: Shadows Into Light, cursive;
text-align: center;
}

#ingredients{
font-size: 20px;
font-weight: bold;
font-family: Shadows Into Light, cursive;
color: black;
}

#search_bar{
  float: right;
  padding-top: 20px;
}

#recipe_form{
font-family: Shadows Into Light, cursive;
padding-left: 480px;
padding-top: 20px;
color: black;
}

.slogan{
position: absolute;
padding-top: 200px;
color: black;
top: 80px;
font-size: 40px;
font-weight: bold;
padding-left: 180px;
}

.slogan2 p{
color: #585858;
padding-right: 650px;
margin-top: 120px;
}

#brand_link{
padding-top: 20px;
}

#state_submit{
font-family: Shadows Into Light, cursive;
padding-left: 480px;
color: black;
}

.container{
color: white;
}

.content{
background: url("/assets/martini-glasses.jpg");
padding-top: 30px;
padding-bottom: 120px;
}

#dropdown{
  text-align: center;
  padding-top: 20px;
}

#button{
  text-align: center;
  padding-top: 40px;
}


.almost-done{
text-align: center;
color: black;
}


#list-info{
padding-top: 20px;
padding-left: 120px;
font-family: Shadows Into Light, cursive;
font-size: 18px;
}






